*{border:0px;margin:0px;padding:0px;}
body{font-family:"Helvetica Neue","Helvetica","Arial",sans-serif;-webkit-font-smoothing:antialiased;text-rendering:optimizeLegibility;background:#1f221f;color:#dcd9ca;font-size:14px;}
.group:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
#jsnes{margin:32px auto;position:relative;width:300px;}#jsnes .nes-screen{width:300px;height:273px;}
#jsnes input[type="button"]{font-family:"Helvetica Neue","Helvetica","Arial",sans-serif;color:#95150d;background:#727272;font-weight:bold;font-size:14px;padding:10px 10px 2px 2px;margin-right:6px;}
